################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/3DeFI/FileContentIndex/1440413b-d4cb-4a06-a4d5-d75b80b4e9fe.vsidx
/.vs/3DeFI/FileContentIndex/36acfa60-03a7-4a41-bfc0-26221b2c970e.vsidx
/.vs/3DeFI/FileContentIndex/48d7fa72-6001-465a-910b-36860deb8feb.vsidx
/.vs/3DeFI/FileContentIndex/959d2b2e-5e8b-4b7a-a5cd-03d5f697d805.vsidx
/.vs/3DeFI/FileContentIndex/f78285a7-42b0-4e24-90fe-1aee8b281a4f.vsidx
/.vs/3DeFI/FileContentIndex/6d9aac69-8594-4b60-84b0-75bb8dbefdb6.vsidx
